.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* .quiz-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-top: 100px;
} */

.question {
  margin-bottom: 20px;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.answer {
  padding: 10px 20px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer.selected {
  background-color: #aaffaa;
}

.pagination {
  margin-top: 20px;
}

.timer {
  margin-top: 20px;
}

.start-button button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.results {
  margin-top: 20px;
}
